%h2= t'devise.confirmations.resend_subject'
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, t('devise.confirmations.resend_subject') 
= render "links"
