.row-fluid
  .content
    .page-header
      = link_to groups_path, :class => "btn" do
        %i.icon-list-alt
        = t'.list_groups'
      = link_to @group, :class => "btn btn-primary" do
        %i.icon-info-sign.icon-white
        = t'.show'
      %h1= t'.edit_group'
    = render 'form'
    
