.row-fluid
  .content
    .page-header
      = link_to new_group_path, :class => "btn btn-primary" do
        %i.icon-plus.icon-white
        = t'general.manage.new_group'
      %h1= t'general.manage.list_groups'
    %table.table.table-bordered.table-striped.center
      %thead
        %tr
          %th= t'general.manage.name'
          %th
      %tbody
        - @groups.each do |group|
          %tr
            %td= link_to group.name, group_path(group)
            %td
              = link_to edit_group_path(group), :class => "btn btn-primary #{group.name}" do
                %i.icon-pencil.icon-white
                = t'general.buttons.edit'
              = link_to group, :class => "btn btn-danger", :confirm => t('general.manage.sure'), :method => :delete do
                %i{:class => "icon-trash icon-white"}
                = t'general.buttons.delete'
