.span12
  = simple_form_for(@page, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :title
      = f.input :content
      = f.input :page_id, :as => :hidden, :input_html => { :value => params[:page_id] } 
    .form-actions.control-group
      = f.button :submit, :class => "btn-primary"

