.row-fluid
  .content
    .page-header
      = link_to pages_path, :class => 'btn' do
        %i.icon-list-alt
        = t'general.manage.list_pages'
      = link_to @page, :class => 'btn btn-primary' do
        %i.icon-info-sign.icon-white
        = t'general.buttons.show'
      %h1= t'general.manage.edit_page'

    = render 'form'
