.row-fluid
  .content
    .page-header
      = link_to new_page_path, :class => 'btn btn-primary' do
        %i.icon-plus.icon-white
        = t'.new_page'
      %h1= t'.list_of_pages'
    %table.table.table-bordered.table-striped.center
      %thead
        %tr
          %th= t'.title'
          %th= t'.page_father'
          %th= t'.actions'

      %tbody
        - @pages.each do |p|
          %tr
            %td= link_to p.title, p 
            %td= p.page.title if p.page
            %td
              = link_to edit_page_path(p), :class => 'btn btn-primary' do
                %i.icon-pencil.icon-white
                = t'.edit'
              = link_to p, :class => 'btn btn-danger',:confirm => t('.sure'), :method => :delete do
                %i{:class =>'icon-trash icon-white'} 
                = t'.delete'


    = pages_tree
