.row-fluid
  .content
    .page-header
      = link_to pages_path, :class => 'btn' do
        %i.icon-list-alt
        List all pages
      = link_to @page, :class => 'btn btn-primary' do
        %i.icon-info-sign.icon-white
        Show
      %h1 Moving page
    = simple_form_for(@page,:url => update_location_page_path(@page), :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f|
      = f.error_notification
      %ul.tree
        %li.li_menu
          %a{:href=>"#", :id => "nav-bar", :class => "page-tree checkbox"} 
            %i.icon-check-empty
            Nav bar
          %input{:type=>'radio', :class => 'input-hidde',:name=>'page[page_id]', :value => "nav-bar"}
        - @tree.each do |page|
          = render :partial =>'liform', :locals => { :page => page }
      .form-actions.control-group
        = f.submit 'Update section', :class => "btn btn-primary" 
