.row-fluid
  .page-header
    = link_to edit_page_path(@page), :class => 'btn btn-primary' do
      %i.icon-pencil.icon-white
      = t'general.buttons.edit'
    = link_to pages_path, :class => 'btn' do
      %i.icon-list-alt
      = t'general.manage.list_pages'
  .span4.border-right-blue
    -@page.pages.each do |p|
      = link_to p.title, page_path(p)
  .span8.float-right
    #content= @page.content
